.SpriteFramesPanel {
  position: fixed;
  bottom: 20px;
  right: 10px;
  box-sizing: border-box;
}

.SpriteFramesPanel__Frames {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 10px;
}

.SpriteFramesPanel__Frame {
  position: relative;
  margin-right: 8px;
  margin-bottom: 8px;
  cursor: pointer;
}

.SpriteFramesPanel__Frame canvas {
  display: block;
  background-color: #fff;
}

.SpriteFramesPanel__Frame svg {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.8);
  fill: red;
}

.SpriteFramesPanel__Frame:hover svg {
  display: block;
}
