.SpriteFramesPanel {
  position: fixed;
  bottom: 20px;
  right: 10px;
  box-sizing: border-box;
}

.SpriteFramesPanel__Frames {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px 10px;
}

.SpriteFramesPanel__Frame {
  margin-right: 8px;
  margin-bottom: 8px;
}

.SpriteFramesPanel__Frame canvas {
  display: block;
  background-color: #fff;
}
